<config>
	<!-- 水样采集器 12+1-->
	<sensor>
		<name>尚业路植生滞留槽出水口水样采集</name>
		<gateway>0100000000000402</gateway>
		<node>3</node>
		<model>MX6100</model>
		<sitewhere>92385663-b897-4558-9d22-21bd573aceec</sitewhere>
	</sensor>
	<sensor>
		<name>西部云谷北侧水样采集器</name>
		<gateway>0100000000000410</gateway>
		<node>1</node>
		<model>MX6100</model>
		<sitewhere>c383c664-55a7-4fcd-b957-89bd65611bb1</sitewhere>
	</sensor>
	<sensor>
		<name>同德佳苑西侧雨水花园入水口水样</name>
		<gateway>0100000000000412</gateway>
		<node>1</node>
		<model>MX6100</model>
		<sitewhere>7f548eba-79a1-4acb-8915-2a480b8d743d</sitewhere>
	</sensor>
	<sensor>
		<name>同德佳苑东侧雨水花园出水口水样</name>
		<gateway>0100000000000412</gateway>
		<node>3</node>
		<model>MX6100</model>
		<sitewhere>48cd6d1e-f811-415f-a1bb-5c7950df9b1b</sitewhere>
	</sensor>
	<sensor>
		<name>尚业路植生滞留槽入水口水样采集器</name>
		<gateway>0100000000000402</gateway>
		<node>2</node>
		<model>MX6100</model>
		<sitewhere>99464074-22e0-41ef-a217-b1272e9892a9</sitewhere>
	</sensor>
	<sensor>
		<name>尚业路雨水水样采集器</name>
		<gateway>0100000000000402</gateway>
		<node>1</node>
		<model>MX6100</model>
		<sitewhere>6b2e9bab-1c41-4148-ab39-e1926a24eeb5</sitewhere>
	</sensor>
	<sensor>
		<name>同德小学外排口水样采集器</name>
		<gateway>0100000000000413</gateway>
		<node>2</node>
		<model>MX6100</model>
		<sitewhere>a13cfd31-1422-4c5e-b4e5-c5b83c5e4d1f</sitewhere>
	</sensor>
	<sensor>
		<name>同德公寓外排口水样采集器</name>
		<gateway>0100000000000413</gateway>
		<node>1</node>
		<model>MX6100</model>
		<sitewhere>ca3a440f-e151-4d73-962f-a060fc87c18c</sitewhere>
	</sensor>
	<sensor>
		<name>同德佳苑东侧雨水花园入水样采集</name>
		<gateway>0100000000000412</gateway>
		<node>2</node>
		<model>MX6100</model>
		<sitewhere>9d42b09e-4ebd-4cfb-8398-c15dace7f423</sitewhere>
	</sensor>
	<sensor>
		<name>沣景路Y23雨水水样采集器</name>
		<gateway>0100000000000400</gateway>
		<node>1</node>
		<model>MX6100</model>
		<sitewhere>0e0545d4-c069-4bc7-814e-faf1339e56d7</sitewhere>
  </sensor>
   <sensor>
		<name>西部云谷东侧水样采集器</name>
		<gateway>0100000000000410</gateway>
		<node>2</node>
		<model>MX6100</model>
		<sitewhere>97e4386c-855a-4521-a39b-873d87b754d0</sitewhere>
  </sensor>
  <sensor>
		<name>绿色屋顶10号楼水样采集器</name>
		<gateway>0100000000000411</gateway>
		<node>1</node>
		<model>MX6100</model>
		<sitewhere>8733f30c-6b38-4c33-89f1-5a68a2098236</sitewhere>
  </sensor>
  <!-- 流量计 14-->
  <sensor>
		<name>西部云谷东侧总排流量</name>
		<gateway>0100000000000410</gateway>
		<node>20</node>
		<model>MX9000</model>
		<sitewhere>e1415277-7583-413b-b946-05db9419a658</sitewhere>
	</sensor>
	<sensor>
		<name>西部云谷北侧总排流量</name>
		<gateway>0100000000000410</gateway>
		<node>10</node>
		<model>MX9000</model>
		<sitewhere>0dbe6f44-133b-4841-8552-b1f584a95e22</sitewhere>
	</sensor>
	<sensor>
		<name>尚业路植生滞留槽出水口流量计</name>
		<gateway>0100000000000402</gateway>
		<node>30</node>
		<model>MX9000</model>
		<sitewhere>d5d85b87-a452-46d6-8b1b-96bc4140a7e9</sitewhere>
	</sensor>
	<sensor>
		<name>尚业路口井下流量网络采集系统</name>
		<gateway>0100000000000402</gateway>
		<node>10</node>
		<model>MX9000</model>
		<sitewhere>57121260-fee1-4707-94f9-7e9a4de8133e</sitewhere>
	</sensor>
	<sensor>
		<name>同德公寓东北侧井下流量采集</name>
    <gateway>0100000000000413</gateway>
		<node>20</node>
		<model>MX9000</model>
		<sitewhere>f63a7110-8303-4478-bc4c-60a138c8058f</sitewhere>
	</sensor>
	<sensor>
		<name>同德公寓外排口流量监测</name>
		<gateway>0100000000000413</gateway>
		<node>10</node>
		<model>MX9000</model>
		<sitewhere>b093ad8b-f264-4530-a176-8404f5a1e132</sitewhere>
	</sensor>
	<sensor>
    <name>兴咸路与统一路交汇处流量计</name>
    <gateway>0100000000000401</gateway>
    <node>10</node>
    <model>MX9000</model>
    <sitewhere>0f2dbfb8-13d3-4844-bd0f-457bf8a68c8b</sitewhere>
  </sensor>
  <sensor>
    <name>秦皇大道与康定路交叉口</name>
    <gateway>0100000000000403</gateway>
    <node>10</node>
    <model>MX9000</model>
    <sitewhere>518ae675-1a21-40ef-87d1-fc636f52a24a</sitewhere>
  </sensor>
  <sensor>
    <name>秦皇大道与统一路交叉口</name>
    <gateway>0100000000000403</gateway>
    <node>20</node>
    <model>MX9000</model>
    <sitewhere>c943cc01-5ba2-4712-b74e-fdd3da335481</sitewhere>
  </sensor>
  <sensor>
    <name>康定路与兴咸路交叉口</name>
    <gateway>0100000000000404</gateway>
    <node>10</node>
    <model>MX9000</model>
    <sitewhere>6d99ddf0-0ad7-4b92-a1d6-b978f91f2ba8</sitewhere>
  </sensor>
  <sensor>
    <name>沣景路Y23雨水流量监测</name>
    <gateway>0100000000000400</gateway>
    <node>10</node>
    <model>MX9000</model>
    <sitewhere>9be59fcc-53b7-48a3-8d7a-039c6bef4069</sitewhere>
  </sensor>
  <sensor>
    <name>沣景路Y20雨水流量监测</name>
    <gateway>0100000000000400</gateway>
    <node>20</node>
    <model>MX9000</model>
    <sitewhere>1bcaa39c-ccf0-4c41-92ab-de3b12bf96a6</sitewhere>
  </sensor>
  <sensor>
    <name>沣景路Y14雨水流量监测</name>
    <gateway>0100000000000400</gateway>
    <node>30</node>
    <model>MX9000</model>
    <sitewhere>7af8a1d2-dcae-4dbd-bb68-1763ca845e44</sitewhere>
  </sensor>
  <sensor>
    <name>沣景路Y3雨水流量监测</name>
    <gateway>0100000000000400</gateway>
    <node>40</node>
    <model>MX9000</model>
    <sitewhere>9ced6b82-8ded-44df-b4d9-d5cfce930a50</sitewhere>
  </sensor>
  <!-- 单体设施液位 5-->
  <sensor>
		<name>尚业路植生滞留槽单体设施网络液位</name>
		<gateway>0100000000000402</gateway>
		<node>20</node>
		<model>MX7200</model>
		<sitewhere>e2ceb8f6-178b-47b9-9bf6-94c74cd2fa37</sitewhere>
	</sensor>
  <sensor>
    <name>同德佳苑西侧雨水花园入水堰液位计</name>
    <gateway>0100000000000412</gateway>
    <node>10</node>
    <model>MX7200</model>
    <sitewhere>a9d3a9b6-3b1c-4bec-8755-775284929e57</sitewhere>
  </sensor>
  <sensor>
    <name>同德佳苑东侧雨水花园入水堰</name>
    <gateway>0100000000000412</gateway>
    <node>20</node>
    <model>MX7200</model>
    <sitewhere>cb5aa80a-5f8f-4db1-80f3-795884abb1b7</sitewhere>
  </sensor>
  <sensor>
    <name>同德佳苑东侧雨水花园出水堰</name>
    <gateway>0100000000000412</gateway>
    <node>30</node>
    <model>MX7200</model>
    <sitewhere>e74b0afb-06da-4961-9003-119efd07be8c</sitewhere>
  </sensor>
  <!-- 气象站 5-->
  <sensor>
		<name>总部经济园微气象监测</name>
		<gateway>81F6BA00E524220F</gateway>
		<node>0</node>
		<model>MXS5000</model>
		<sitewhere>aa784708-700e-4a86-88ff-a49bdf405b21</sitewhere>
	</sensor>
	<sensor>
		<name>中央绿廊微气象监测</name>
		<gateway>81EAA500E524223A</gateway>
		<node>0</node>
		<model>MXS5000</model>
    <sitewhere>34bab1e8-bc26-48fb-8132-48a86cd9cbc5</sitewhere>
	</sensor>
	<sensor>
		<name>云谷10号楼微气象监测</name>
		<gateway>81B28F01E524227F</gateway>
		<node>0</node>
		<model>MXS5000</model>
    <sitewhere>b7a73197-9401-4959-96f2-d9d2b71cfd48</sitewhere>
	</sensor>
	<sensor>
		<name>康定和园微气象监测</name>
		<gateway>81E85C01E524228E</gateway>
		<node>0</node>
		<model>MXS5000</model>
    <sitewhere>4c568c25-af2f-4faa-ad0b-d83ea3368f3b</sitewhere>
	</sensor>
	<sensor>
		<name>天福和园B栋10号楼气象监测</name>
		<gateway>8194CD00E524229E</gateway>
		<node>0</node>
		<model>MXS5000</model>
    <sitewhere>7219a374-062d-473d-97e4-9227d11ac167</sitewhere>
	</sensor>
	<!-- 地下水 5-->
	<sensor>
		<name>总部经济园内9号楼北侧地下水液位</name>
		<gateway>0100000000000411</gateway>
		<node>1000</node>
		<model>MX8100</model>
		<sitewhere>f45a11fd-54a9-4869-bf75-2c4b908ee63d</sitewhere>
	</sensor>
	<sensor>
		<name>西部云谷1000地下水液位</name>
		<gateway>0100000000000410</gateway>
		<node>1000</node>
		<model>MX8100</model>
		<sitewhere>591baa57-34be-4c05-9468-4ff01ec772a0</sitewhere>
	</sensor>
	<sensor>
		<name>东张村蔬菜种植合作社内地下水监测</name>
		<gateway>0100000000000211</gateway>
		<node>1000</node>
		<model>MX8100</model>
		<sitewhere>2fb85d1e-916a-4302-9658-034d9132e876</sitewhere>
	</sensor>
	<sensor>
		<name>西张村生猪养殖合作社内地下水监测</name>
		<gateway>0100000000000210</gateway>
		<node>1000</node>
		<model>MX8100</model>
		<sitewhere>60046103-ac85-47f4-bcb0-85a3b1cc18d4</sitewhere>
	</sensor>
	<sensor>
		<name>绿化公司内养鸡场地下水监测</name>
		<gateway>0100000000000210</gateway>
		<node>2000</node>
		<model>MX8100</model>
		<sitewhere>13265bea-284b-449b-b23a-8e7a29c0d045</sitewhere>
	</sensor>
	<!-- 内涝点-->
	<sensor>
		<name>秦皇大道与开元路西南侧井下液位网络采集监测系统</name>
		<gateway>0100000000000403</gateway>
		<node>1000</node>
		<model>MX8000</model>
		<sitewhere>e91f7b02-bda4-4b74-af76-b20fcda02d05</sitewhere>
	</sensor>
	<sensor>
		<name>秦皇大道与沣景路西南侧井下液位网络采集监测系统</name>
		<gateway>0100000000000403</gateway>
		<node>2000</node>
		<model>MX8000</model>
		<sitewhere>98ffaadc-9f9c-4359-98a1-c17c026b1057</sitewhere>
	</sensor>
	<!-- 土壤雨水 4-->
	<sensor>
		<name>中央绿廊地表土壤水分传感器</name>
		<gateway>81EAA500E524223A</gateway>
		<node>3</node>
		<model>MXS1402</model>
    <sitewhere>a61fc9ac-78eb-4b1f-845e-7ad45ccd0a11</sitewhere>
	</sensor>
	<sensor>
		<name>同德佳苑东侧土壤温湿度</name>
		<gateway>8182B200E5242275</gateway>
		<node>1</node>
		<model>MXS1402</model>
    <sitewhere>4c79859e-28cf-4990-8291-aee098e3f6ce</sitewhere>
	</sensor>
	<sensor>
		<name>同德佳苑西侧土壤温湿度</name>
		<gateway>8182B200E5242275</gateway>
		<node>2</node>
		<model>MXS1402</model>
    <sitewhere>705d585d-7197-43bb-b1e0-b648339b829a</sitewhere>
	</sensor>
	<sensor>
		<name>尚业路植生滞留槽土壤雨水监测系统</name>
		<gateway>0100000000000402</gateway>
		<node>100</node>
		<model>MXS1402</model>
    <sitewhere>7f97bad9-c601-418f-8f3f-6609ef1be5b5</sitewhere>
	</sensor>
</config>
  
  