<config>
  <!--气象站3-->
  <sensor>
		<name>白城新区5号桥气象站</name>
		<gateway>81448A00E52422E2</gateway>
		<node>0</node>
		<model>MXS5000</model>
    <sitewhere>2f59621b-3a27-4c5a-ab3f-7b8cc4db86c6</sitewhere>
	</sensor>  
  <sensor>
    <name>白城市建委气象监测站</name>
    <gateway>81E78300E5242214</gateway>
    <node>0</node>
    <model>MXS5000</model>
    <sitewhere>c82a527f-2c9f-4ff1-8c07-b8bfd5e78ec6</sitewhere>
  </sensor>  
  <sensor>
    <name>规划一河：出水闸口PH</name>
    <gateway>3030303030303039</gateway>
    <node>9</node>
    <model>MX6300</model>
    <sitewhere>277adaf6-d565-4da6-a673-7dd0e84d4a9e</sitewhere>
</sensor>
<sensor>
    <name>纵七路与丽江路交口北侧7YS2381PH</name>
    <gateway>3030303030303038</gateway>
    <node>8</node>
    <model>MX6300</model>
    <sitewhere>15406de2-1c5c-4c44-80cb-d8f2dd1f8213</sitewhere>
</sensor>
  <sensor>
    <name>纵八路东侧新区中学出水口PH</name>
    <gateway>3030303030303130</gateway>
    <node>10</node>
    <model>MX6300</model>
    <sitewhere>641b4d41-6126-4b05-ba3d-52c9cdee2116</sitewhere>
</sensor>
    <sensor>
    <name>橫九路市民中心出水口PH</name>
    <gateway>3030303030303132</gateway>
    <node>12</node>
    <model>MX6300</model>
    <sitewhere>4f4eaf56-40fb-4592-80f6-eeefd3b10854</sitewhere>
</sensor>
  <sensor>
    <name>规划三河鹤鸣湖出水桥PH</name>
    <gateway>3030303030303131</gateway>
    <node>11</node>
    <model>MX6300</model>
    <sitewhere>8df12fa1-8295-461e-9293-9a5e349cd033</sitewhere>
</sensor>
<sensor>
    <name>纵八路与丽江路交口北侧7YS892PH</name>
    <gateway>3030303030303035</gateway>
    <node>5</node>
    <model>MX6300</model>
    <sitewhere>4314fe47-7f90-4b8a-ab9f-c9b3bc9c23eb</sitewhere>
</sensor>
  <sensor>
    <name>丽江路北侧新区中学出水口PH</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX6300</model>
    <sitewhere>d227d0eb-17a4-440e-881f-460e25a4c48c</sitewhere>
  </sensor>
  <sensor>
    <name>南干渠华严寺正门绿化带雨水井PH</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX6300</model>
    <sitewhere>72322859-8a8b-442e-909d-fe7b9bb7c6ff</sitewhere>
  </sensor>
  <sensor>
    <name>长庆南街与丽江路交口北侧7YS862PH</name>
    <gateway>3030303030303135</gateway>
    <node>15</node>
    <model>MX6300</model>
    <sitewhere>860028a9-981d-483d-949d-08a22a064835</sitewhere>
</sensor>
  <sensor>
    <name>规划一河：出水闸口TSS</name>
    <gateway>3030303030303039</gateway>
    <node>9</node>
    <model>MX6400</model>
    <sitewhere>31cd0b82-b972-41e1-9ee9-cc0e6ea7fec0</sitewhere>
</sensor>
  <sensor>
    <name>长庆南街与丽江路交口北侧7YS862TSS</name>
    <gateway>3030303030303135</gateway>
    <node>15</node>
    <model>MX6400</model>
    <sitewhere>23df1a67-12ef-4611-9c00-dc7737b59ed9</sitewhere>
</sensor>
  <sensor>
    <name>纵八路东侧新区中学出水口TSS</name>
    <gateway>3030303030303130</gateway>
    <node>10</node>
    <model>MX6400</model>
    <sitewhere>91c37767-8a63-43bd-be38-86e384019b6c</sitewhere>
</sensor>
  <sensor>
    <name>规划三河鹤鸣湖出水桥TSS</name>
    <gateway>3030303030303131</gateway>
    <node>11</node>
    <model>MX6400</model>
    <sitewhere>c1b0b837-47be-4f75-a249-80d1f12af4f2</sitewhere>
</sensor>
<sensor>
    <name>纵七路与丽江路交口北侧7YS2381TSS</name>
    <gateway>3030303030303038</gateway>
    <node>8</node>
    <model>MX6400</model>
    <sitewhere>e9b7d8e6-c3f9-4443-aa9a-08831fc01252</sitewhere>
</sensor>
  <sensor>
    <name>丽江路北侧新区中学出水口TSS</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX6400</model>
    <sitewhere>c7e7645f-688b-409c-b9b1-6209db876b35</sitewhere>
  </sensor>
  <sensor>
    <name>纵八路与丽江路交口北侧7YS892TSS</name>
    <gateway>3030303030303035</gateway>
    <node>5</node>
    <model>MX6400</model>
    <sitewhere>44f932b5-9693-4885-bbba-569038fb763d</sitewhere>
</sensor>
  <sensor>
    <name>橫九路市民中心出水口TSS</name>
    <gateway>3030303030303132</gateway>
    <node>12</node>
    <model>MX6400</model>
    <sitewhere>b5b6d7f3-bdfe-4e9e-a527-e56a792ca718</sitewhere>
</sensor>
  <sensor>
    <name>南干渠华严寺正门绿化带雨水井TSS</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX6400</model>
    <sitewhere>255d2051-7dbb-4177-a7ca-dd6687efb569</sitewhere>
  </sensor>
  <sensor>
    <name>胜利路与金辉街交口西侧2YS142液位</name>
    <gateway>3030303030303034</gateway>
    <node>4</node>
    <model>MX8300</model>
    <sitewhere>5f5dcc6f-c07b-44cd-a3b5-9a001bb43445</sitewhere>
</sensor>
  <sensor>
    <name>丽江路北侧新区中学出水口液位</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX8300</model>
    <sitewhere>66dfc53e-5dd4-4668-8cf3-dad226ddf503</sitewhere>
  </sensor>
  <sensor>
    <name>南干渠华严寺正门绿化带雨水井液位</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX8300</model>
    <sitewhere>77deb1ef-6136-4d58-8e08-6382a86a5b46</sitewhere>
  </sensor>
  <sensor>
    <name>南干渠华严寺正门污水井液位</name>
    <gateway>3030303030303033</gateway>
    <node>3</node>
    <model>MX8300</model>
    <sitewhere>a0981f0b-3584-4207-8fe3-21f9500effb6</sitewhere>
  </sensor>
  <sensor>
    <name>规划三河鹤鸣湖出水桥液位</name>
    <gateway>3030303030303131</gateway>
    <node>11</node>
    <model>MX8300</model>
    <sitewhere>eb7e283e-c368-4d7d-aedb-0e16db830a87</sitewhere>
</sensor>
 <sensor>
    <name>纵八路与丽江路交口北侧7YS892液位</name>
    <gateway>3030303030303035</gateway>
    <node>5</node>
    <model>MX8300</model>
    <sitewhere>f8a7664b-6744-4b08-bfe7-1954dd02d808</sitewhere>
</sensor>
   <sensor>
    <name> 纵十七路7YS17660液位</name>
    <gateway>3030303030303134</gateway>
    <node>14</node>
    <model>MX8300</model>
    <sitewhere>645cc96c-d355-417b-be66-b6955edee152</sitewhere>
</sensor>
<sensor>
    <name>东海路与长庆南街交口东侧7YS128液位</name>
    <gateway>3030303030303133</gateway>
    <node>13</node>
    <model>MX8300</model>
    <sitewhere>5e40f288-af41-4891-8ed0-c9c2f5968f38</sitewhere>
</sensor>
<sensor>
    <name>橫九路市民中心出水口液位</name>
    <gateway>3030303030303132</gateway>
    <node>12</node>
    <model>MX8300</model>
    <sitewhere>ec32d18e-bfb3-4a1f-baba-b947f3da6971</sitewhere>
</sensor>
<sensor>
    <name>纵八路东侧新区中学出水口液位</name>
    <gateway>3030303030303130</gateway>
    <node>10</node>
    <model>MX8300</model>
    <sitewhere>6c24f99f-c252-48d8-a64c-fe5481d5fcc6</sitewhere>
</sensor>
<sensor>
    <name>纵七路与丽江路交口北侧7YS2381液位</name>
    <gateway>3030303030303038</gateway>
    <node>8</node>
    <model>MX8300</model>
    <sitewhere>a4108bb6-82ad-4d62-b730-fc5b785d2bcc</sitewhere>
</sensor>
<sensor>
    <name>鹤鸣湖西侧7YS2516液位</name>
    <gateway>3030303030303037</gateway>
    <node>7</node>
    <model>MX8300</model>
    <sitewhere>1c2c70ab-753c-4ae6-adf9-5933d6bc9b45</sitewhere>
</sensor>
<sensor>
    <name>长庆南街与丽江路交口北侧7YS862液位</name>
    <gateway>3030303030303135</gateway>
    <node>15</node>
    <model>MX8300</model>
    <sitewhere>d56b94b4-ba55-4bf0-9139-9d5439650eb2</sitewhere>
</sensor>
<sensor>
    <name>规划一河：出水闸口液位</name>
    <gateway>3030303030303039</gateway>
    <node>9</node>
    <model>MX8300</model>
    <sitewhere>77d2cd3a-bed0-42df-ae13-56b8e63de45d</sitewhere>
	</sensor>
	  <sensor>
    <name>南干渠华严寺正门污水井液位</name>
    <gateway>3030303030303033</gateway>
    <node>3</node>
    <model>MX8300</model>
    <sitewhere>a0981f0b-3584-4207-8fe3-21f9500effb6</sitewhere>
  </sensor>
  <!--9110井下雨水流量T型-->
  <sensor>
    <name>新区中学南门与市政管网交汇口流量</name>
    <gateway>3030303030303031</gateway>
    <node>1</node>
    <model>MX9110</model>
    <sitewhere>c3ddf196-e580-4fd5-b4cf-329cc9f5d28a</sitewhere>
  </sensor>
  <sensor>
    <name>南干渠华严寺正门污水井流量</name>
    <gateway>3030303030303033</gateway>
    <node>3</node>
    <model>MX9110</model>
    <sitewhere>35ba76c2-dab8-40b9-9508-4ecbfe9dcce9</sitewhere>
  </sensor>
  <sensor>
    <name>南干渠华严寺正门绿化带雨水井流量</name>
    <gateway>3030303030303032</gateway>
    <node>2</node>
    <model>MX9110</model>
    <sitewhere>7d80fd68-b14e-4c06-bea8-fbc3e456f7d1</sitewhere>
  </sensor>
<sensor>
    <name>胜利路与金辉街交口西侧2YS142流量</name>
    <gateway>3030303030303034</gateway>
    <node>4</node>
    <model>MX9110</model>
    <sitewhere>54ccdf06-28a5-409a-8091-ec33f48f6ca6</sitewhere>
</sensor>

<sensor>
    <name>鹤鸣湖西侧7YS2516流量</name>
    <gateway>3030303030303037</gateway>
    <node>7</node>
    <model>MX9110</model>
    <sitewhere>2531ef42-2eaf-46b1-879c-f2dd161a01b5</sitewhere>
</sensor>
<sensor>
    <name>规划三河鹤鸣湖出水桥流量</name>
    <gateway>3030303030303131</gateway>
    <node>11</node>
    <model>MX9110</model>
    <sitewhere>926d12aa-b2ea-42d9-88ce-065006595b87</sitewhere>
</sensor>
<sensor>
    <name>长庆南街与丽江路交口北侧7YS862流量</name>
    <gateway>3030303030303135</gateway>
    <node>15</node>
    <model>MX9110</model>
    <sitewhere>192ebcfa-47d8-45d4-b219-55b85855556d</sitewhere>
</sensor>
<sensor>
    <name>规划一河：出水闸口流量</name>
    <gateway>3030303030303039</gateway>
    <node>9</node>
    <model>MX9110</model>
    <sitewhere>fcc87a8c-f655-4821-b1b4-4eb816b32740</sitewhere>
</sensor>
<sensor>
    <name>纵八路与丽江路交口北侧7YS892流量</name>
    <gateway>3030303030303035</gateway>
    <node>5</node>
    <model>MX9110</model>
    <sitewhere>d7e5d929-1140-499d-930d-bb82c8a6faae</sitewhere>
</sensor>
<sensor>
    <name>纵七路与丽江路交口北侧7YS2381流量</name>
    <gateway>3030303030303038</gateway>
    <node>8</node>
    <model>MX9110</model>
    <sitewhere>416d6d94-d650-4fdd-bcc1-aec758dd8f1b</sitewhere>
</sensor>
<sensor>
    <name>纵八路东侧新区中学出水口流量</name>
    <gateway>3030303030303130</gateway>
    <node>10</node>
    <model>MX9110</model>
    <sitewhere>deaa0fae-532d-4d66-ae67-e9b211c76768</sitewhere>
</sensor>
<sensor>
    <name>橫九路市民中心出水口流量</name>
    <gateway>3030303030303132</gateway>
    <node>12</node>
    <model>MX9110</model>
    <sitewhere>a18d61c2-ce15-4337-93ba-357826c5870b</sitewhere>
</sensor>
<sensor>
    <name>东海路与长庆南街交口东侧7YS128流量</name>
    <gateway>3030303030303133</gateway>
    <node>13</node>
    <model>MX9110</model>
    <sitewhere>ba56d5db-c7b3-4605-ac81-14d8a9de7d18</sitewhere>
</sensor>
<sensor>
    <name> 纵十七路7YS17660流量</name>
    <gateway>3030303030303134</gateway>
    <node>14</node>
    <model>MX9110</model>
    <sitewhere>eb493dd6-da3d-4ac5-80ec-db1336ed6931</sitewhere>
</sensor>
</config>
  
  